page-login {

    background-color: #ffffff;

    ion-content {

        background-image: url("../assets/imgs/shield.jpg");
        background-repeat: no-repeat;
        background-size: contain; 
        
        margin-top: 40%;

        text-align: center;

        h2 {
            margin-bottom: 20%;
        }
    }

}
